
%imgServicios{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}

%textosServicios{
    list-style-type: none;
    text-decoration: none;
    position: relative;
    top: 10px;
    color: black
}
