/*MEDIA QUERIES RESPONSIVE!!!!*/

@media (max-width: 500px) {
    html {
        margin: 0px;
        padding: 0px;
    }
    .contenedorSuperior{
        display: grid;
        justify-content: space-between;
    } 
    .logoPrincipal{
        height: 100px;
        width: 360px;
        display: grid;
        margin-bottom: 30px;
    }
    .contenedorSuperior nav ul li a{
        color: black;
        text-decoration: none;
        font-weight: 500px;
        font-size: 14px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    } 
    ul{
        list-style-type: none;
        margin: 0;
        margin-left: 4px;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 40px;
    }
    .contenedorSuperior a:hover{
        color: rgb(6, 127, 6);
    }
    .videoHeader{
        display: grid;
        height: 400px;
        width: 300px;
        position: relative;
        top: -10px;
        left: 10px;
        margin-top:-70px;
        margin-bottom: -100px;
        margin-left: 14px;
    } 
    .creer{
        height: 80px;
        width: 300px;
        padding: 10px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: -10px;
    }
    h1 {
        width: 80%;
        word-wrap: break-word;
        hyphens: auto;
        font-size: 20px;
        margin: 20px;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        color:black;
        hyphens: none;
        word-break: break-word;
    }
    h2{
        width: 80%;
        word-wrap: break-word;
        hyphens: auto;
        font-size: 20px;
        margin: 10px;
        padding: 20px;
        box-sizing: border-box;
        hyphens: none;
        word-break: break-word;
        margin-top: -10px;
        margin-bottom: 50px;
    }
    .imagen-CM{
        margin-left: 20px;
    }
    .imagenDiseño{
        margin-left: 20px;
    }
    .imagenDesarrollo{
        margin-left: 20px;
    }

    //responsive trabajos//
    .imagenPosteos{
        position: relative;
        right: 35px;
        top: 20px;
    }
    .textoPosteos{
        margin-left: 45px;
        top: 25px;
    }
    .posteo-description{
        left: 50px;
        top: 30px;
        width: 50%;
    }
    .imagenIdentidad{
        margin-left: 50px;
    }
    .textoIdentidad{
        margin-left: 50px;
        top: 0px;
    }
    .identidad-description{
        left: 50px;
        top: 15px;
        width: 70%;
    }
    .videoReels{
        margin-left:50px;
    }
    .textoReels{
        margin-left: 50px;
        top: 5px;
    }
    .reels-description{
         left: 50px;
        top: 15px;
        width: 70%; 
    }

    .reseñas-main{
        display: grid;
        justify-content: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        position: relative;
        top: 90px;
        margin-left: auto;
        margin-right: auto;
    }
    .reseñas-main li{
      display: grid;
      margin: 10px; 
      padding: 20px;
      border: 2px solid #ccc; 
      border-radius: 8px; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
      background-color: #cac2c2; 
      text-align: center; 
      transition: transform 0.3s ease; 
    }
    .reseñas-main ul{
        display: grid;
        margin-bottom: -10px;
    }
    .contenedor-footer{
        display: grid;
    }
    .creer-footer{
        display: grid;
        position: relative;
        text-align: center;
        top: 150px;
        margin-left: 0px ;
        padding: 0px;
        font-size: 20px;
    }
    .lista-redes{
        display: flex;
        position: relative;
        top: 100px;
        margin-left: 90px;
        text-align: center;
        gap: 0px;
        margin-top: 50px ;
    }
    .contacto{
        display: grid;
        position: relative;
        text-align: center;
        top: 80px;
        font-size: 20px;
        margin-top:40px;
        margin-left: 5px;
        margin-bottom: 25px;
    }
    .lista-contacto{
        position: relative;
        top: 80px;
        display: grid;
        text-align: center;
        gap: 20px;
        margin-left: 50px;
    }

    .nav-footer h3{
        display: grid;
        text-align: center;
        margin-top: -60px;
        margin-left: 15px;
    }
    .nav-footer ul {
        display: grid;
        list-style-type: none;
        padding: 0;
        font-size: 16px;
        margin-left: 15px;
        margin-top: 0px;
    }
    .nav-footer li {
        display: grid;
        padding: 0 10px;
        margin-top: -20px;
        text-align: center;
    }
    .footer-copyright{
        text-align: center;
        right: -12px;
    }
    .contenedor-footer::after{
        content: "";
        display: block;
        height: 150px;
    }

    //responsive pagina nuestros servicios//
    .contenedor-servicios-cm{
        display: grid;
        margin-top: 50px;
        width: 350px;
    }
    .contenedor-servicios-cm ul li{
        width: 350px;
    }
    .contenedor-servicios-cm p{
        width: 80%;
        gap: 10px;
    }
    .img-cm{
        height: 250px;
        margin-bottom: 15px;
    }
    .listado-cm p{
        font-size: 17px;
        margin-top: -15px ;
    }
    .contenedor-servicios-pm{
        display: grid;
        max-width: 350px;
    }
    .img-pm{
        height: 200px;
        width: 350px;
    }
    .listado-pm p{
        font-size: 17px;
        width: 100%;
    }
    .contenedor-servicios-dg{
        display: grid;
        max-width: 350px;
    }
    .img-dg{
        height: 400px;
        width: 350px;
        margin-left: 5px;
    }
}

//responsive pagina portfolio//

.texto-posteos-portfolio{
    position: relative;
    width: 80%;
    left: 5px;
    top: 0px;
}
.texto-posteos-portfolio a{
    text-align: left;
    margin-left: 0px;
    top: 10px;
}
.texto-identidad-portfolio{
    position: relative;
    width: 40%;
    left: 5px;
    top: -10px; 
    text-align: left; 
}
.texto-identidad-portfolio a{
    margin-left: 0px;
    top: 10px;
}
.texto-reels-portfolio{
    position: relative;
    width: 40%;
    left: 5px;
    top: -10px;
}
.texto-reels-portfolio a{
    margin-left: 0px;
    top: 10px;
} 

.tituloTrabajos-portfolio{
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: 50px;
    margin-bottom: 150px;
}

//estilos pagina contacto//

.contactanos{
    left: 0px;
}
.comenza{
    max-width: 350px;
}
.containermt-5{
    max-width: 350px;
}
.contact-form{
    max-width: 350px;
    margin-left: 15px;
}