
/* ESTILOS DE PAGINA CONTACTO */

/*estilos de h1 y h4*/

.contactanos{
    position: relative;
    text-align: center;
    top: 60px;
    margin-left:380px;
}
.comenza{
    position: relative;
    text-align: center;
    top: 20px;
    color: green;
    margin-left: 40px;
}

/* estilos del main*/
.containermt-5{
    margin-top: 150px;
    margin-left: 35px;
}

.btn-btn-primary-w-100{
    background-color: green;
    color: beige;
}

/* ESTILOS DE SERVICIOS  */

.contenedor-servicios-cm{
    display: flex;
    margin-top: 100px;
}
.img-cm{
    position: relative;
    height: 400px;
}
.listado-cm{
    display: grid;
}
.listado-cm p{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom: -50px;
    width: 50%;
}

.contenedor-servicios-pm{
    display: flex;
    margin-top: 100px;
}
.img-pm{
    position: relative;
    width:600px;
    height: 400px;
}
.listado-pm{
    display: grid;
}
.listado-pm p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.contenedor-servicios-dg{
    display: flex;
    margin-top: 100px;
}
.img-dg{
    position: relative;
    width: 400px;
    height: 400px;
}
.listado-dg{
    display: grid;
}
.listado-dg p{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom: -50px;
    width: 50%;
}

//estilos PORTFOLIO//

.texto-posteos-portfolio{
    position: relative;
    width: 40%;
    left: 350px;
    top: -150px;
}
.texto-identidad-portfolio{
    position: relative;
    width: 40%;
    left: 370px;
    top: -150px;  
}
.texto-reels-portfolio{
    position: relative;
    width: 40%;
    left: 340px;
    top: -150px;
}

.tituloTrabajos-portfolio{
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: 50px;
    margin-bottom: 150px;
}

//estilos RESEÑAS//
.reseñas-main li{
    font-size: 20px;
}